/packages
/paket-files
/binold
/bin1
/bin/compiled/*
!/bin/compiled/FsTranslator
!/bin/compiled/RuleEditor
/bin/compiled/RuleEditor/*
!/bin/compiled/RuleEditor/website
/bin/compiled/RuleEditor/website/*
!/bin/compiled/RuleEditor/website/*.html
