/packages
/paket-files
/binold
/bin1
/bin/compiled/*
!/bin/compiled/FsTranslator
!/bin/compiled/RuleEditorNew
/bin/compiled/RuleEditorNew/*
!/bin/compiled/RuleEditorNew/website
/bin/compiled/RuleEditorNew/website/*
!/bin/compiled/RuleEditorNew/website/*.html
