{"snippets": [{"snpId": {"SnippetId" :"0c368c5f-275f-43ac-bc76-dd2d21860dc0"}, "snpName": "Hello", "snpContent": "How are you?", "snpParentIdO": null, "snpPredIds": [], "snpProperties": [], "snpModified": 1570182854032}, {"snpId": {"SnippetId" :"a2ffc7f6-f86e-46bb-8882-29d97b3fd4f9"}, "snpName": "Another", "snpContent": "one", "snpParentIdO": {"SnippetId" :"0c368c5f-275f-43ac-bc76-dd2d21860dc0"}, "snpPredIds": [], "snpProperties": [], "snpModified": 1570183121660}], "modified": 1570182892491, "collapsed": []}