source https://www.nuget.org/api/v2
framework: net461

nuget FSharp.Compiler.Tools 4.1.23
nuget FSharp.Compiler.Service 17.0.1

nuget CryptSharpOfficial 
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Data.SqlClient
nuget HtmlAgilityPack
nuget Microsoft.Owin
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.FileSystems
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.StaticFiles
nuget Mono.Cecil 0.10.0-beta6
nuget Owin
nuget Owin.Compression 1.0.18
nuget System.ValueTuple
//nuget System.IO.Compression 4.3.0-preview1-24530-04
nuget System.IO.Compression
nuget WebSharper         
nuget WebSharper.Compiler
nuget WebSharper.FSharp
nuget WebSharper.Owin
nuget WebSharper.Owin.WebSocket
nuget WebSharper.UI.Next        
nuget Newtonsoft.Json
nuget XPlot.Plotly
nuget SSH.NET

nuget FSharpPlus 1.0.0-CI00136

nuget FSharp.Quotations.Evaluator

nuget Fable.Core
nuget Fable.Import.Browser

nuget NUnit 2.6.4
nuget Unquote

nuget CommonServiceLocator 

nuget AWSSDK.Core
nuget AWSSDK.Lambda
