framework: netstandard2, net461
//storage: symlink

source https://www.nuget.org/api/v2

nuget FSharp.Core        = 4.5.0
nuget Newtonsoft.Json
nuget FSharp.Compiler.Tools
nuget WebSharper         = 4.5.1.304
nuget Websharper.FSharp  = 4.5.1.304
nuget Websharper.UI	     = 4.5.1.141
nuget Websharper.Owin
nuget WebSharper.Owin.WebSocket
nuget Microsoft.Owin
nuget Microsoft.Owin.StaticFiles
nuget Microsoft.Owin.FileSystems
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.Host.HttpListener
nuget FSharp.Data
nuget FSharpPlus 

group Testing
    framework: netstandard2, net461
//    storage: symlink
    source https://www.nuget.org/api/v2
    nuget Fuchu
    nuget Unquote
nuget canopy

group Other
    framework: net461
    source https://www.nuget.org/api/v2

    nuget OpenCvSharp3-AnyCPU
    nuget FSharp.Data.SqlClient

group Test
    framework: netstandard2
    source https://www.nuget.org/api/v2
    nuget FSharp.Core        = 4.3.4
    nuget NETStandard.Library
    nuget canopy